@import "./CSS/font-face.css";
@import "./CSS/main-mobile.css";
@import "./CSS/main-dt.css";
@import "./CSS/animations.css";

/* 
TABLE OF CONTENTS:
1 - VARIABLES
2 - GLOBAL ELEMENTS
3 - HEADER
4 - MAIN
5 - FOOTER
6 - DESKTOP MEDIA BREAKPOINT
7 - KEYFRAMES


*/


/* 1 - VARIABLES */
:root {
    --green: #00ba33;
    --orange: #FF9C00;
    --light-grey: #F3F3F3;
    --grey: #E2E2E2;
    --med-grey: #CCCCCC;
    --dark-grey: #999999;
    --darker: #777777;
    --darkest: #555;

    --margin-mobile: 20px;
    --margin-mobile-top: 12px;
}


/* 2 - GLOBAL ELEMENTS */
* {   
    /* outline: .1px solid rgb(239, 239, 247); */
}

body {
    font-family: "ObjectSans", sans-serif;
    font-variant-alternates: styleset(ss04);
    margin: 0;
}

button {
    border: none;
    font-family: "ObjectSans";
}


p {
    color: var(--green);
    font-size: 14px;
    line-height: 150%;  
    letter-spacing: .025em;
    margin: 5px 0 5px 0;
}

h1 {
    color: var(--green);
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .025em;
    font-variant-alternates: styleset(ss04);
    margin: .2rem 0;
}

h2 {
    color: var(--orange);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;  

}

h3 {
    color: var(--green);
    font-weight: 600;
    font-size: 16px;  
    line-height: 19px;
    letter-spacing: .03em;
    margin: 7px 0 7px 0;
}

h4 {
    color: var(--orange);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .025em;
    font-style: italic;
    font-weight: 400;
    margin: 10px 0 5px 0;
}

h5 {
    margin: auto;
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-shadow: rgb(58, 58, 58) 0px 5px 25px;
    font-variant-alternates: styleset(ss04);
    transition: transform .21s ease-in-out;
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
}

a:hover {
    color: var(--orange);
}

hr {
    border: 1px solid white;
    border-top: 1px solid var(--grey);
}

/* 3 - HEADER */
.header--dt {
    display: none;
}

header {
    background: white;
}

.header--mobile {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 1; 
}

.header--mobile--content {
    margin: 0 var(--margin-mobile);
    margin-top: var(--margin-mobile-top);
    display: flex;
    justify-content: space-between;
}

.header--mobile--right-side > ul {
    list-style-type: none;
    display: flex;
    gap: 25px; 
}

.header--mobile--right-side li {
    width: 42px;
    height: 42px;
    background-size: contain;
}

.header--mobile--right-side li:nth-child(1) {
    width: 45px;
    height: 45px;
    background: url(img/magnifying-glass-icon.svg) center no-repeat;
    background-size: contain;
}

.header--mobile--right-side li:nth-child(2) {
    background: url(img/header-menu-icon-burger.svg) center no-repeat;
    background-size: contain;
 }

.header--mobile hr {
    border-bottom: none;
    margin: 8px var(--margin-mobile) 0 var(--margin-mobile);
}

.header-buffer {
    height: 95px;
    width: 100%;
}
 

 /* 4 - MAIN */

 /* loading overlay */
.loading-overlay {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    padding-bottom: 17%;
    background: rgb(255, 255, 255);
    opacity: 1;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    perspective: 12cm;
}

.loading-animation {
    animation: fade-out 12s ease-in;
}

.loading-overlay p {
    margin: 120px auto 0 auto;
    font-size: 24px;
    
    font-weight: 500;
    letter-spacing: -.02em;
}

.test {
    width: 120px;
    aspect-ratio: 1/1;
    border: 2px solid black;
}



.loading-graphic {
    transform-style: preserve-3d;
    animation: rotation-1 4s ease-in-out 2, rotation-fake 4s ease-in-out 1 8s; 
}

.loading-graphic svg {
    overflow: visible;
    transition: linear;
    height: clamp(340px, 70vw, 6000px);
    width: clamp(340px, 70vw, 600px);
    /* filter: drop-shadow(0px 50px 50px rgba(0, 0, 0, 0.178)); */
}

.loading-graphic path:nth-child(2) {
    animation: 
    rotation-2 4s ease-in-out 2,
    rotation-3 4s cubic-bezier(0.23, 1, 0.320, 1) 8s;
    
    transform-origin: 50% 50%;
}

.loading-graphic path:nth-child(1) {
    animation: head-flip 4s ease-in-out 8s;
    transform-origin: 50% 10%;
}

.loading-bar {
    position: absolute; bottom: 30px;
    display: flex;
    gap: 10px;
    text-align: center;
    overflow: visible !important;
    animation: hide-and-change 9s ease-in-out 1;
}

.loading-bar .dot {
    width: 8px;
    height: 8px;
    background: var(--grey);
    border-radius: 50%;
}

.loading-bar .dot:nth-child(1) {
    animation: cute-hop 2.5s ease-out 0s infinite; 
}
.loading-bar .dot:nth-child(2) {
    animation: cute-hop 2.5s ease-out .5s infinite; 
}
.loading-bar .dot:nth-child(3) {
    animation: cute-hop 2.5s ease-out 1s infinite; 
}






.no-overflow {
    animation: no-overflow 12s linear;
}


/* main content */
.image-slider {
    overflow: hidden;
}

.image-slider-div {
    display: inline-flex;
    transform: translateX(0);
    transition: transform .3s ease-out;
    cursor: grab;
}


.image-slider--item {
    margin: .8rem 0 2rem 0;
    display: grid;
    grid-template-rows: 1fr 38px 27px;
    min-height: 240px;
    height: clamp(240px, 50vw, 560px);
    background: url(img/img-slideshow-1.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    user-select: none;
    transition: transform .3s ease
 }

.image-slider--item button {
    justify-self: end;
    margin: 0 var(--margin-mobile);
    width: 230px;
    height: 100%;
    background: var(--green);
    border-radius: 120px;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 5px 20px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.image-slider--item p {
    transform: translateY(2px);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.image-slider--item p::after {
    display: inline-block;
    content: "";
    background: url(img/arrow-right_small.svg) center no-repeat;
    background-size: contain;
    margin-left: 10px;
    width: 22px;
    height: 16px;
    transform: translateY(2px);
}

.image-slider--c-indicators {
    margin-left: var(--margin-mobile);
    padding: 0;
    display: flex;
    
    gap: 5px;
    list-style: none;
    position: absolute;
    top: calc(clamp(340px, 60vw, 640px) - 30px);
    z-index: 1;
}

.image-slider--c-indicators li {
    width: .5rem;
    height: .5rem;
    background: white;
    border-radius: 50%;
    transition: transform .2s ease-in;
}

.indicator-active {
    transform: scale(1.5);
    margin: 0px .2rem;
}

.baner-2 {
    background: url(img/cerpaci-stanice-psas.jpg) center no-repeat;
    background-size: cover;
}

.baner-2 > button {
    background: var(--orange);
}

.baner-3 {
    background: url(img/dsc7932.jpg) center no-repeat;
    background-size: cover;
}

.aktuality {
    margin: 0 var(--margin-mobile)
}

.aktuality img {
    width: 100%;
}

.aktuality hr {
    margin: 3px 0 15px 0;
}

.aktuality p {
    margin: 0 0 50px 0
}

.aktuality p::after {
    content: "...číst dále";
    display: block;
    letter-spacing: .05rem;
    font-size: .8rem;
    color: var(--med-grey);
    font-weight: 200;
}

.aktuality p::after:hover {
    text-decoration: underline;
    color: var(--orange);
}

.aktualita hr {
    margin-bottom: 10px;
    width: 36%;
}

/* Nejčastěji hledáte */
.hledate {
    background: var(--light-grey);
    text-align: center;
    padding: 15px 0 40px 0;
    margin-bottom: 70px;
}

.hledate--category {
    margin: 10px var(--margin-mobile);
}

.hledate h1 {
    margin: 10px auto 50px auto;
}

.hledate h2 {
    width: 80%;
    margin: 15px auto 10px auto;
}

.hledate ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: var(--green);
    line-height: 19px;
    font-size: 16px;
    width: 75%;
    margin: 0 auto;
}

.hledate ul > hr {
    width: 30%;
    border: none;
    border-top: 1px solid var(--med-grey);
    margin: 8px auto 15px auto;
}

.hledate > div > hr {
    border: 1px solid var(--grey);
    border-bottom: none;
    margin: 40px auto 50px auto;
}

.category--head {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.category--head p {
    font-size: 34px;
    line-height: 42px;
    font-weight: 500;
    letter-spacing: -0.025rem;
}

.categories-list {
    margin: 0 var(--margin-mobile) 40px var(--margin-mobile);
}

.categories-list .category-1 > .category--head {
    margin-top: 10px;
}

.category ul {
    margin: 20px auto 65px auto;
    font-weight: 500;
    padding: 0;
    line-height: 24px;
}

.category li {
    color: var(--green);
    list-style: none;
    padding: 0;
    margin: 0;
}

.category li::before {
    position: relative; top: 7px;
    content: "\2022";
    color: var(--orange);
    font-size: 40px;
    line-height: 24px;
    margin:0 10px 0 0;
}

.category-2 > img {
    transform: translateX(-10px);
}



/* 5 - FOOTER */
.magazin-links {
    background: var(--light-grey);
    padding: 10px 0;
}

.magazin-links ul {
    margin: 20px var(--margin-mobile) 30px var(--margin-mobile);
    padding: 0;
    list-style: none;
}

.magazin-links li {
    margin: 40px auto;
}

.magazin-links li::before {
    display: inline-block;
    float: left;
    margin: 0 20px 0 10px;
    content: "";
    background: url(img/pdf-document-icon.svg) center no-repeat;
    background-size: contain;
    width: 38px;
    height: 50px
}

.magazin-links h2 {
    margin: 0;
}

.magazin-links i {
    background: url(img/pdf-document-icon.svg) center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px
}

.footer-menu {
    padding: 20px 5px;
    background: var(--darker);
    overflow: hidden;
}

.footer-menu menu {
    color: white;
    letter-spacing: .03em;
    margin: 0 var(--margin-mobile);
    padding: 0;
    list-style: none;
}

.footer-menu--item--head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.footer-menu--item--head p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .05rem;
}

.footer-menu menu ul {
    font-weight: 400;
    padding: 5px 20px;
    line-height: 24px;
    margin-bottom: 50px;
}

.contact hr {
    border: none;
    border-top: 1px solid var(--med-grey);
}

.contact--title {
    display: flex;
    gap: 15px
}

.contact--title p {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.contact--number {
    font-size: 38px;
    letter-spacing: -0.04em;
    color: white;
    text-align: left;
    white-space: nowrap;
    margin-bottom: n0;
}

.contact--opening-time {
    margin: 0;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.contact--email p::before {
    content: "";
    background: url(img/email-icon.svg) center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 15px;
    height: 13px;
    margin: 2px 10px 0 2px;
}

.blog-link {
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: column;
}

.blog-link img {
    align-self: end;
    width: 150px;
    margin-right: 10px;
}

.blog-link p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.footer--lower {
    background: var(--darkest);
    padding-bottom: 10px;
}

.copy {
    margin: 0 var(--margin-mobile) 30px var(--margin-mobile);
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.copy p {
    color: var(--med-grey);
    font-size: 13px;
}

.technical-stuff {
    margin: 0 var(--margin-mobile) 0 var(--margin-mobile);
}

.technical-stuff p {
    font-size: 13px;
    color: var(--med-grey);
    margin: 10px 0;
}

.technical-stuff p:nth-child(3) {
    color: var(--darker);
}


/* JS classes */
.grabbing {
    cursor: grabbing;
}

.grabbing .image-slider--item {
    transform: scale(1.03)
}